$primary1: #01080e;
$primary1_hovered: #263b50;
$primary2: #011627;
$primary3: #011221;

$secondary1: #607b96;
$secondary2: #3c9d93;
$secondary3: #4d5bce;
$secondary4: #fff;

$accent1: #fea55f;
$accent2: #43d9ad;
$accent3: #e99287;
$accent4: #c98bdf;
$accent5: #ffd714;

// --------------------------------------------

$btn1_bg: $accent1;
$btn1_clr: $primary1;

$btn2_bg: #1c2b3a;
$btn2_clr: $secondary4;

$btn3_bg: transparent;
$btn3_clr: $secondary4;

// --------------------------------------------

$lines: #1e2d3d;
$gradients1: #4d5bce;
$gradients2: #43d9ad;
$code_snippets_bg: #001221;

// --------------------------------------------

$headline-size: 62px;
$sub_headline_size: 32px;
$body_text_size: 18px;
$labels_size: 16px;
$code_snippets_size: 14px;
$main_font: 'Fira Code', monospace;