@use '../scss/variables' as *;

.svg {
    fill: $secondary1;
}

.footer {
    position: relative;
    font-family: $main-font;
    height: 60px;
    background-color: $primary2;
    border: 1px solid $lines;
    border-radius: 0 0 5px 5px;

    & .container {
        display: flex;
        background-color: inherit;
        height: 100%;
        line-height: 1.6;
        width: 100%;

        >p:first-of-type {
            margin-left: 20px;
            margin-right: 20px;
            color: $secondary1;
            user-select: none;
        }

        .social {
            display: flex;
            // margin-left: 20px;
            align-items: center;

            &>* {
                width: 60px;
                height: 60px;
                position: relative;
                text-align: center;
                border: 1px solid $lines;

                &:hover {
                    background-color: $primary1-hovered;
                }
            }

            .instagram {
                text-align: center;
                padding-top: 18px;
            }

            .facebook {
                padding-top: 7px;
            }
        }

        .github {
            cursor: pointer;
            position: absolute;
            right: 00px;
            width: 170px;
            display: flex;
            justify-content: flex-end;
            border-left: solid 1px $lines;
            color: $secondary1;
            padding-right: 15px;

            &:hover {
                background-color: $primary1-hovered;
            }

            p {
                user-select: none;
            }

            &>a {
                padding-top: 20px;
                padding-left: 10px;
            }

            @media (max-width: 768px) {
                & {
                    width: 60px;
                    border: none;
                    padding-bottom: 10px;
                    padding-left: 15px;
                }

                p {
                    display: none;
                }
            }
        }

        @media (max-width: 768px) {
            & {
                width: calc(100% - 60px);
                justify-content: flex-end;

                p {
                    flex: 1;
                }

                .github {
                    margin-right: 5px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        display: none;
    }
}