@use '../scss/variables' as *;

.svg {
    fill: $secondary1;
}

.footer {
    font-family: $main-font;
    height: 60px;
    background-color: $primary2;
    border: 1px solid $lines;
    border-radius: 0 0 5px 5px;

    & .container {
        display: flex;
        height: 100%;
        line-height: 1.6;
        width: 100%;
				position: relative;

        > p:first-of-type {
            margin-left: 20px;
            margin-right: 20px;
            color: $secondary1;
            user-select: none;
        }

        .social {
            display: flex;
            // margin-left: 20px;
            align-items: center;

            & > * {
                width: 60px;
                height: 60px;
                position: relative;
                text-align: center;
                border: 1px solid $lines;

                &:hover {
                    background-color: $primary1-hovered;
                }
            }

						.greeting {
							display: flex;
							align-items: center;
							justify-content: center;
							width: auto;
							padding: 0 20px;
							background: linear-gradient(to right, $gradients1, $gradients2);
							-webkit-background-clip: text;
							background-clip: text;
							-webkit-text-fill-color: transparent;

							::selection {
								background-color: #fea55f;
								color: #01080e;
								-webkit-text-fill-color: #01080e;
							}

							@media (max-width: 885px) {
								display: none;
							}
						}

            .item {
                text-align: center;
                padding-top: 18px;
            }
        }

        .github {
            cursor: pointer;
            position: absolute;
            right: 00px;
            width: 170px;
            display: flex;
            justify-content: flex-end;
            border-left: solid 1px $lines;
            color: $secondary1;
            padding-right: 15px;

            p {
                user-select: none;
            }

            & > a {
                padding-top: 20px;
                padding-left: 10px;
            }

            @media (max-width: 768px) {
                & {
                    width: 60px;
                    border: none;
                    padding-bottom: 10px;
                    padding-left: 15px;
                }

                p {
                    display: none;
                }
            }
        }

        @media (max-width: 768px) {
            & {
                width: calc(100% - 60px);
                justify-content: flex-end;

                p {
                    flex: 1;
                    display: none;
                }

                .github {
                    margin-right: 5px;
                }
            }
        }
    }

    @media (max-width: 768px) {
        display: none;
    }
}
